p{
	margin: 0px;
}
a{
	margin: 0px;
}
h4{
	margin: 0px;
}
table
{
    border-collapse: collapse;
}
td
{
    border: 1px solid black;
}
#finished {
	color: green;
}
#played {
	color: blue;
}
#notPlayed {
	color: red;
}
#dead {
	color: gray;
}
#f {
	color: green;
}
#c {
	color: red;
}
#a {
	color: orange;
}
#i {
	color: blue;
}